<p>Welcome to my page! </br> I'm Ricardo, Full-Stack developer from <img src="brazil.svg" width="13" /> <b>Santa Cruz do Sul, Brazil</b>, currently living in <img src="netherlands.svg" width="13" /> <b>Amsterdam, Netherlands</b>. </p>

Currently, the weather is: <b> {{city_temperature}}°C, <i>{{city_weather}}</i></b></br>Today, the sun rises at <b>{{sun_rise}}</b> and sets at <b>{{sun_set}}</b>.</p>

![README build](https://github.com/ricardoschroeder/ricardoschroeder/workflows/README%20build/badge.svg)
<p align="center">This <i>README</i> file is generated <b>every 6 hours</b>!</br>Last refresh: {{refresh_date}}<br />


<!--
![Ricardo's github stats](https://github-readme-stats.vercel.app/api?username=ricardoschroeder&show_icons=true&theme=dark)

![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=ricardoschroeder&theme=dark)

[![trophy](https://github-profile-trophy.vercel.app/?username=ricardoschroeder&theme=onedark)](https://github.com/ryo-ma/github-profile-trophy)


**ricardoschroeder/ricardoschroeder** is a ✨ _special_ ✨ repository because its `README.md` (this file) appears on your GitHub profile.

Here are some ideas to get you started:

- 🔭 I’m currently working on ...
- 🌱 I’m currently learning ...
- 👯 I’m looking to collaborate on ...
- 🤔 I’m looking for help with ...
- 💬 Ask me about ...
- 📫 How to reach me: ...
- 😄 Pronouns: ...
- ⚡ Fun fact: ...
-->
